@page "/userform"
<h3>UserForm</h3>
<h4 class="text-success">@result</h4>
<EditForm Model="@person" OnValidSubmit="HandleOnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <p>
        <label>
            First Name:
            <InputText @bind-Value="person.FirstName" />
        </label>
    </p>
    <p>
        <label>
            Last Name:
            <InputText @bind-Value="person.LastName" />
        </label>
    </p>
    <p>
        <label>
            Age:
            <InputNumber @bind-Value="person.Age" />
        </label>
    </p>
    <p>
        <label>
            Do you give consent:
            <InputCheckbox @bind-Value="person.GaveConsent" />
        </label>
    </p>
    <button class="btn btn-primary" type="submit">Submit</button>
</EditForm>

@code {
    private PersonModel person = new PersonModel();
    private string result=  "";

    private void HandleOnValidSubmit()
    {
        result = "A valid user has been created.";
        person = new PersonModel();
    }

}
